# Idea files
.idea
*.iml

# Eclipse files
.settings
.classpath
.project
.externalToolBuilders
.checkstyle
target
.metadata
.recommenders
Servers

package-lock.json

*.pyc
.tmp
*.tmp
Debug
Release
ipch
*.suo
*.sdf

go.sum

assembly-language-master
dependency-reduced-pom.xml

cmake-build-debug
build
geckodriver.log
.terraform*
terraform.tfstate*
*.class
jmeter.log
terraform.tfvars
credentials

*.a
*.so

node_modules

cache
dist
